#media-manager-dialog{
    z-index: 2147483648;
}
#media-manager-dialog .modal-dialog{
    max-height: 100%;
}
.yii2-media-list{
    margin-top: 15px;
}
.yii2-media-list .yii2-media-item{
    width: 130px;
    display: inline-block;
    float: left;
    text-align: center;
    cursor: pointer;
    height: 160px;
}

.yii2-media-list .yii2-media-item .info {
    max-width: 120px;
    overflow: hidden;
    max-height: 25px;
}
.yii2-media-list .yii2-media-item .image{
    width: 120px;
    height: 120px;
    border: 1px #ddd solid;
    opacity: 0.5;
}
.yii2-media-list .yii2-media-item.selected .image{
    border: 3px #1c8c04 solid;
    opacity: 1;
}

.yii2-media-list .yii2-media-item .image img{
    max-width: 120px;
    max-height: 120px;
}
.yii2-media-list .yii2-media-item.selected .image img{
    max-width: 114px;
    max-height: 114px;
}
.yii2-media-list ul.pagination {
    width: 100%;
    margin-top: 25px;
}
.yii2-media-upload-form{
    margin-top: 15px;
}
.yii2-media-upload-preview{
    width: 350px;
    max-height: 350px;
    text-align: center;
}
.yii2-media-upload-preview img{
    max-width: 100%!important;
    max-height: 250px!important;
}
.yii2-media-upload-progress{
    display: none;
    height: 18px;
    width: 100%;
    text-align: left;
}
.media-container{
    padding: 15px;
    display: inline-block;
    width: 100%;
}

#yii2-media-upload-button button {
    width: 40px;
    height: 40px;
    font-size: 18px;
}

#yii2-media-upload-button button.selected {
    width: 124px;
    height: auto;
    padding: 1px;
    border: 1px #ddd solid;
    position: relative;
}
#yii2-media-upload-button button.selected .media-selected-hover{
    display: none;
    width: 124px;
    height: 124px;
    background: rgba(255,255,255,0.6);
    position: absolute;
    top: 0;
    left: 0px;
    right: 0;
    bottom: 0px;
    font-size: 13px;
    padding-top: 50px;
    font-weight: bold;
    cursor: pointer;
}
#yii2-media-upload-button button.selected:hover .media-selected-hover {
    display: block;
}
